---
layout: default
---

<h1 class="home_title">Hi! Welcome to My Website</h1>
<p>This is my website. I can say the following about the content of this website. My primary goal will be to share information on every subject I am interested in and want to improve myself. These topics are many, but my primary topics are Penetration Tests, Web Security, Ethical Hacking, and their associated ctfs. Apart from these, I plan to share my thoughts and impressions about other things I am interested in such as video games, movies, TV series, and books. Hope you have fun on my website.</p>
<p>Cheers</p>
<hr>
<br>
<div class="post-list">
  <h2 class="post-list__title">Recent Posts</h2>
  <ul class="post-list__list">
    {% for post in site.posts limit:4 %}
    <li class="post-list__item">
      {% if post.image %}
        <div>
          <a href="{{ post.url }}"><img class="post-list__image" src="{{ post.image }}" alt="{{ post.image_alt}}"></a>
          <div class="post-list__head">
            <h3 class="post-list__item-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="post-categories">
              {% if post %}
                {% assign categories = post.categories %}
              {% else %}
                {% assign categories = page.categories %}
              {% endif %}
              {% for category in categories %}
              <p class="post-list__item-meta">{{ post.date | date: "%d %B %Y" }} - <a href="/categories/#{{category|slugize}}">{{category}}</a></p>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
            </div>
            <p class="post-list__item-excerpt">{{ post.excerpt | truncatewords:20 }}</p>
          </div>
        </div>
        <br>
      {% else %}
        <h3 class="post-list__item-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="post-list__item-meta">{{ post.date | date: "%d %B %Y" }}</p>
        <div class="post-categories">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
        <p class="post-list__item-excerpt">{{ post.excerpt | split:'\n\n' | first }}</p>
      {% endif %}  
    </li>
    {% endfor %}
  </ul>
  <ul class="post-list__small">
    {% for post in site.posts limit:4 %}
    <li class="post-list__item">
      {% if post.image %}
        <div>
          <a href="{{ post.url }}"><img class="post-list__image" src="{{ post.image }}" alt="{{ post.image_alt}}"></a>
          <div class="post-list__head">
            <h3 class="post-list__item-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="post-categories">
              {% if post %}
                {% assign categories = post.categories %}
              {% else %}
                {% assign categories = page.categories %}
              {% endif %}
              {% for category in categories %}
              <p class="post-list__item-meta">{{ post.date | date: "%d %B %Y" }} - <a href="/categories/#{{category|slugize}}">{{category}}</a></p>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
            </div>
            <p class="post-list__item-excerpt">{{ post.excerpt | truncatewords:20 }}</p>
          </div>
        </div>
        <br>
      {% else %}
        <h3 class="post-list__item-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="post-list__item-meta">{{ post.date | date: "%d %B %Y" }}</p>
        <div class="post-categories">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
        <p class="post-list__item-excerpt">{{ post.excerpt | truncatewords:20 }}</p>
      {% endif %}  
    </li>
    {% endfor %}
  </ul>
</div>

