---
layout: default
---

<h1 class="home_title">Bu web sitesi hakkında</h1>

Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur.
<br>
<hr>
<br>
<div class="post-list">
  <h2 class="post-list__title">Recent Posts</h2>
  <ul class="post-list__list">
    {% for post in site.posts limit:4 %}
    <li class="post-list__item">
      {% if post.image %}
        <div>
          <a href="{{ post.url }}"><img class="post-list__image" src="{{ post.image }}" alt="Post Görseli"></a>
          <div class="post-list__head">
            <h3 class="post-list__item-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="post-categories">
              {% if post %}
                {% assign categories = post.categories %}
              {% else %}
                {% assign categories = page.categories %}
              {% endif %}
              {% for category in categories %}
              <p class="post-list__item-meta">{{ post.date | date: "%d %B %Y" }} - <a href="/categories/#{{category|slugize}}">{{category}}</a></p>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
            </div>
            <p class="post-list__item-excerpt">{{ post.excerpt | split:'\n\n' | first }}</p>
          </div>
        </div>
        <br>
      {% else %}
        <h3 class="post-list__item-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="post-list__item-meta">{{ post.date | date: "%d %B %Y" }}</p>
        <div class="post-categories">
          {% if post %}
            {% assign categories = post.categories %}
          {% else %}
            {% assign categories = page.categories %}
          {% endif %}
          {% for category in categories %}
          <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </div>
        <p class="post-list__item-excerpt">{{ post.excerpt | split:'\n\n' | first }}</p>
      {% endif %}  
    </li>
    {% endfor %}
  </ul>
</div>

