@media screen and (min-width: 360px) and (max-width: 980px) {
    .container-default {
        display: none;
    }
    .container-medium {
        display: none;
    }
    #myBtn {
        display: none;
    }
    .footer {
        display: none;
    }
}