@media screen and (min-width: 360px) and (max-width: 980px) {
    .site-header {
        display: none;
    } 
    .overlay {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.285);
        z-index: 1001;
    }

    .ul-base {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .clearfix {
        *zoom: 1;
    }
    .clearfix::after {
        content: "";
        display: table;
        line-height: 0;
        clear: both;
    }

    header {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 60px;
        background-color: transparent;
        z-index: 1000;
        border-bottom: 2px solid $btm-border;
        align-items: center;
    }
    .header-inner {
        height: 60px;
    }
    header .nav-btn {
        cursor: pointer;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-left: 25px;
        padding-top: 15px;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    header .nav-btn.nav-slider {
        float: left;
    }
    header .nav-btn.nav-slider i {
        font-size: 25px;
    }
    header .nav-btn.search {
        display: none;
    }
    header .nav-btn i {
        vertical-align: middle;
    }

    @media screen and (min-width: 360px) and (max-width: 550px) {
        .site-logo img {
            margin: auto;
            width: 50px;
            height: 60px;
            margin-left: 15%;
            padding-top: 5px;
            float: left;
          }
        .site-title {
            right: 0;
            max-width: 100%;
            font-size: 20px;
            font-weight: 300;
            padding-left: 30%;
            padding-top: 15px;
        }
        
    }

    @media screen and (min-width: 550px) and (max-width: 600px) {
        .site-logo img {
            margin: auto;
            width: 50px;
            height: 50px;
            padding-top: 5px;
            float: left;
            margin-left: 20%;
        }
        .site-title {
            right: 0;
            max-width: 100%;
            font-size: 20px;
            font-weight: 300;
            padding-top: 15px;
            padding-left: 35%;
        }
    }
    @media screen and (min-width: 600px) and (max-width: 700px) {
        .site-logo img {
            margin: auto;
            width: 50px;
            height: 50px;
            padding-top: 5px;
            float: left;
            margin-left: 25%;
        }
        .site-title {
            right: 0;
            max-width: 100%;
            font-size: 20px;
            font-weight: 300;
            padding-top: 15px;
            padding-left: 40%;
        }
    }
    @media screen and (min-width: 700px) and (max-width: 800px) {
        .site-logo img {
            margin: auto;
            width: 50px;
            height: 50px;
            padding-top: 5px;
            float: left;
            margin-left: 30%;
        }
        .site-title {
            right: 0;
            max-width: 100%;
            font-size: 20px;
            font-weight: 300;
            padding-top: 15px;
            padding-left: 45%;
        }
    }
    @media screen and (min-width: 800px) and (max-width: 900px) {
        .site-logo img {
            margin: auto;
            width: 50px;
            height: 50px;
            padding-top: 5px;
            float: left;
            margin-left: 35%;
        }
        .site-title {
            right: 0;
            max-width: 100%;
            font-size: 20px;
            font-weight: 300;
            padding-top: 15px;
            padding-left: 50%;
        }
    }
    @media screen and (min-width: 900px) and (max-width: 980px) {
        .site-logo img {
            margin: auto;
            width: 50px;
            height: 50px;
            padding-top: 5px;
            float: left;
            margin-left: 40%;
        }
        .site-title {
            right: 0;
            max-width: 100%;
            font-size: 20px;
            font-weight: 300;
            padding-top: 15px;
            padding-left: 55%;
        }
    }
        
    nav {
        position: fixed;
        top: 0px;
        left: -350px;
        width: 60%;
        max-width: 500px;
        height: 100%;
        background-color: #1e181edd;
        transition: all 0.3s ease;
        opacity: 0.9;
        z-index: 1002;
    }
    @media screen and (min-width: 400px) and (max-width: 580px) {
        nav {
            left:-450px
        }
    }
    @media screen and (min-width: 580px) and (max-width: 980px) {
        nav {
            left:-550px
        }
    }

    nav .nav-header {
        display: block;
        background-color: #1e181e;
    }

    nav .nav-header .nav-search {
        position: relative;
        height: 40px;
        border-bottom: 1px solid #9c3230;
    }
    nav .nav-header .nav-search .search {
        display: block;
        position: relative;
    }
    nav .nav-header .nav-search .search i {
        position: absolute;
        top: 10px;
        right: 0.7em;
        color: #e8615a;
        background-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }
    nav .nav-header .nav-search .search input[type=search] {
        width: 100%;
        height: 58px;
        color: #e8615a;
        font-size: 15px;
        padding: 0 48px 0 20px;
        outline: none;
        border: none;
        background-color: #1e181e;
    }
    nav .nav-header .nav-search .search ::-webkit-input-placeholder {
        color: #e8615a;
    }
    nav .nav-header .nav-search .search ::-moz-placeholder {
        color: #e8615a;
    }
    nav .nav-header .nav-search .search :-moz-placeholder {
        color: #e8615a;
    }
    nav .nav-header .nav-search .search :-ms-input-placeholder {
        color: #e8615a;
    }

    nav .nav-categories li {
        display: block;
        position: relative;
    }
    nav .nav-categories li a {
        display: block;
        width: 100%;
        font-size: 1rem;
        color: #2be4ea;
        padding: 0.625em 1.3em;
        text-decoration: none;
    }

    nav.open {
        left: 0px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
        opacity: 1;
    }
    nav .nav-separator {
        width: 100%;
        height: 1px;
        margin: 7px 0;
        background-color: rgba(0, 0, 0, 0.175);
    }
    nav .nav-link-title {
        display: block;
        color: #3f51b5;
        font-size: 1rem;
        padding: 0.5em 1.3em;
    }
    nav .social {
        display: flex;
        margin: 4px 0;
        border-top: 1px solid #9c3230;
        border-bottom: 1px solid #9c3230;
    }
    nav .social li {
        display: inline-block;
        position: relative;
        width: 25%;
        height: 28px;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 28px;
        flex-direction: row;
        border-right: 1px solid #9c3230;
    }
    nav .social li:last-child {
        border-right: 0;
    }
    nav .social li a {
        display: block;
        color: #fed33f;
        font-size: 15px;
        padding: 2px;
        text-decoration: none;
    }

    nav .copyright {
        display: block;
        color: #e8615a;
        text-align: center;
        padding: 0.5em 0 1em;
    }
    nav .copyright span {
        display: block;
        width: 100%;
        font-size: 11px;
        margin-bottom: 4px;
    }
}