@media screen and (min-width: 360px) and (max-width: 980px) {
    .site-header {
        display: none;
    } 
    .overlay {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.285);
        z-index: 1001;
    }

    /* For Typography */
    .ul-base {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    /* -----------------------------------------------------
    Clearfix
    -------------------------------------------------------- */
    .clearfix {
        *zoom: 1;
    }
    .clearfix::after {
        content: "";
        display: table;
        line-height: 0;
        clear: both;
    }

    /* -----------------------------------------------------
        Header
    -------------------------------------------------------- */
    header {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: transparent;
        z-index: 1000;
    }
    header .nav-btn {
        cursor: pointer;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 38px;
        margin: 12px 0;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }
    header .nav-btn.nav-slider {
        float: left;
    }
    header .nav-btn.search {
        display: none;
    }
    header .nav-btn i {
        vertical-align: middle;
    }

    /* -----------------------------------------------------
        Nav
    -------------------------------------------------------- */
    nav {
        position: fixed;
        top: 0px;
        left: -250px;
        width: 60%;
        height: 100%;
        background-color: #1e181e65;
        transition: all 0.3s ease;
        opacity: 0.9;
        z-index: 1002;
    }
    nav .nav-header {
        display: block;
        background-color: #1e181e;
    }

    nav .nav-header .nav-search {
        position: relative;
        height: 40px;
        border-bottom: 1px solid #9c3230;
    }
    nav .nav-header .nav-search .search {
        display: block;
        position: relative;
    }
    nav .nav-header .nav-search .search i {
        position: absolute;
        top: 10px;
        right: 0.7em;
        color: #e8615a;
        background-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }
    nav .nav-header .nav-search .search input[type=search] {
        width: 100%;
        height: 40px;
        color: #e8615a;
        font-size: 15px;
        padding: 0 48px 0 20px;
        outline: none;
        border: none;
        background-color: #1e181e;
    }
    nav .nav-header .nav-search .search ::-webkit-input-placeholder {
        color: #e8615a;
    }
    nav .nav-header .nav-search .search ::-moz-placeholder {
        color: #e8615a;
    }
    nav .nav-header .nav-search .search :-moz-placeholder {
        color: #e8615a;
    }
    nav .nav-header .nav-search .search :-ms-input-placeholder {
        color: #e8615a;
    }


    nav .nav-categories li {
        display: block;
        position: relative;
    }
    nav .nav-categories li a {
        display: block;
        width: 100%;
        font-size: 1rem;
        color: #2be4ea;
        text-shadow: 0 0 5px #2be4ea;
        padding: 0.625em 1.3em;
        text-decoration: none;
    }
    nav .nav-categories li a:hover {
        text-shadow: 0 0 5px #2be4ea;
    }
    nav.open {
        left: 0px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
        opacity: 1;
    }
    nav .nav-separator {
        width: 100%;
        height: 1px;
        margin: 7px 0;
        background-color: rgba(0, 0, 0, 0.175);
    }
    nav .nav-link-title {
        display: block;
        color: #3f51b5;
        font-size: 1rem;
        padding: 0.5em 1.3em;
    }
    nav .social {
        display: flex;
        margin: 4px 0;
        border-top: 1px solid #9c3230;
        border-bottom: 1px solid #9c3230;
    }
    nav .social li {
        display: inline-block;
        position: relative;
        width: 25%;
        height: 28px;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 28px;
        flex-direction: row;
        border-right: 1px solid rgba(0, 0, 0, 0.175);
    }
    nav .social li:last-child {
        border-right: 0;
    }
    nav .social li a {
        display: block;
        color: #5c5c5c;
        font-size: 15px;
        padding: 2px;
        text-decoration: none;
    }
    nav .social li a.twitter:hover {
        color: #00baf0;
    }
    nav .social li a.facebook:hover {
        color: #3b5997;
    }
    nav .social li a.google-plus:hover {
        color: #c43c2c;
    }
    nav .social li a.rss:hover {
        color: #ff6600;
    }
    nav .copyright {
        display: block;
        color: #5c5c5c;
        text-align: center;
        padding: 0.5em 0 1em;
    }
    nav .copyright span {
        display: block;
        width: 100%;
        font-size: 11px;
        margin-bottom: 4px;
    }
}