@media screen and (min-width: 360px) and (max-width: 980px) {
    .default p {
        font-size: 14px;
    }
    .post h1, h2 {
        color: $post-title;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .home_title {
        color: $post-title;
        font-size: 22px;
    }
    .post-list {
        width: 100%
    }
    .post-list__list {
        display: none;
    }
    .post-list__small {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
    }
    .post-list__small li {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .post-list__item {
        max-width: 100%;
    }

    .post-list__head {
        display: inline-block;
        max-width: 100%;
        height: 140px;
        padding-top: 10px;
    }
    .post-list__item-title {
        width: 100%;
        font-size: 18px;
    }
    .post-list__image{
        object-fit: contain;
        width: 100%;
        height: 100%;
        float: left;
        border: 1px solid $img-border;
        box-shadow:	0 0 5px	  $img-border,
    }

    .post-list__head p {
        font-size: 12px;
    }
    .post-list__head .post-list__item-meta {
        color: $post-alt-text;
        font-size: 10px;
    }
    .post-categories  a {
        color: $post-alt-text;
        font-size: 12px;

    }
    .post-categories  a:hover {
        text-shadow: 0 0 5px $post-alt-text;
    }

    .post__date, .post__categories, .post__tags {
        color: $post-alt-text;
        font-size: 14px;
        margin-right: 10px;
    }
    .post__tags__title {
        float: left;
    }
    .post__tags-container{
        max-width: 30%;
        display: inline-block;
        justify-content: space-between;
    }
    .post__tags-item {
        color: $post-tags-text;
        padding-left: 5px;
    }
    .post__content {
        margin-top: 20px;
        font-size: 15px;
        line-height: 1.5;
    }
    .post__content p {
        font-size: 19px;
        margin-bottom: 20px;
    }
    .post__content img {
        max-width: 80%;
    }    
}