<!-- Twitter Share Button -->
<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}&via={{ site.social.twitter.username }}" target="_blank" rel="noopener noreferrer" class="share-btn tweet-btn" title="Share on Twitter">
    Tweet
</a>
  
<!-- LinkedIn Share Button -->
<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}" target="_blank" rel="noopener noreferrer" class="share-btn" title="Share on LinkedIn">
    LinkedIn
</a>
  
  