//Colors
$bg-color: #191a1e;
$gr-bg-color: #461616;

//text
$text-color: #e8615a;
$title-color: #2be4ea;
$hr-color: #fed33f;

//pre
$copy-text: #f4908b;
$copy-bg: #9c3230;
$code-bg: #0000001d;
$code-text: #2be4ea;
$code-shadow: red;
$scroll-bg: #4a0d0dbf;
$scroll: #e23f36;
$scroll-hover: #e12920;

//pagination
$pervous: #2be4ea;
$next: #5d2322;
$pagi-bg: #1e181e;
$pagi-border: #e8615a;
$pagi-hover: #571d1d;
$page-number: #fed13f83;

//tos
$tos-title: #2be4ea;
$list-color: #fed33f;

//diqcus
$disqus-bg: #f2f2f200;


//author
$author-border: #fed33f;
$author-url: #fed33f;


//categories
$cat-title: #2be4ea;
$cat-text: #e8615a;
$item-meta: #fed33f;


//cv
$card-bg: #1e181e65;
$card-border: #9c3230;
$card-title: #2be4ea;
$text-name: #2be4ea;
$text-value: #e8615a;
$content-title: #2be4ea;
$content-text: #e8615a;
$badge: #fed33f;
$badge-border: #fed33f;
$badge-bg: #1e181ea1;


//Mobile-nav
$nav-bg: #1e181edd;
$nav-header-bg: #1e181e;
$nav-border: #9c3230;
$search-i: #e8615a;
$nav-list: #2be4ea;
$nav-social: #fed33f;
$nav-copy: #e8615a;




//default
$buton-bg: #1e181e00;
$buton: #e8615a;
$buton-hover: #e12920;



//header
$btm-border: #e8615a;
$search-bg: #1e181e;
$search-border: #9c3230;
$search-text: #e8615a;


//post
$post-title: #2be4ea;
$img-border: #fed33f;
$post-alt-text: #fed33f;
$post-tags-text: #2be4ea;


