body {
  background-color: $bg-color;
  background-image: radial-gradient(
    ellipse at 33% 10%,
    $gr-bg-color 0%,
    transparent 75%
  );
  background-repeat: no-repeat;
  color: $text-color;
  font-family: "Rajdhani", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  color: $title-color; 
  text-decoration: none; 
}
a:hover {
  color: $title-color;
  text-shadow: -9px -6px 40px currentcolor;
  text-decoration: none;
}
h1 {
  color: $title-color;
  font-size: 2em;
  margin-bottom: 0.5em;
}
p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 1em;
}
ul {
  margin-bottom: 1em;
}
li {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0.5em;
}
hr {
  height: 1px; 
  background-color: $hr-color; 
  border: none; 
}



/* tos.md */
.tos_title {
  color: $tos-title;
}
.tos_list {
  list-style: none;
}
.tos_list li::before {
  font-size: 25px;
  content: ".";
  color: $list-color;
  display: inline-block; 
  font-weight: bold;
  width: 1em;

}





/* pre */
pre.highlight {
  position: relative;
  overflow: visible;
  padding-top: 25px;
}
pre.highlight .copy {
  content: "COPY";
  font-family: "VT323", monospace;
  font-size: 0.92rem;
  padding: 2px 30px 0;
  margin-top: 25px;
  margin-left: 9px;
  position: absolute;
  top: 0;
  left: 0;
  color: $copy-text;
  background: $copy-bg;
  cursor: pointer;
  transform: translate(-10px, -100%);
  transition: all 200ms ease;
  clip-path: polygon( 0.25em 0, calc(100% - 1em) 0, 100% 100%, 0.33em 100%, 0 100%, 0 0.25em );
}
pre.highlight code {
  max-width: 100%;
  overflow: auto;
  display: block;
  padding: 10px;
  background-color: $code-bg;
  clip-path: polygon( 0 0, 100% 0, 100% calc(100% - 1rem + 2px), calc(100% - 1rem + 2px) 100%, 0 100% );
  border: none;
  color: $code-text;
  font-size: 17px;
  line-height: 1.4;
  tab-size: 4;
  box-shadow: 0 0 0 7px $code-shadow;

}
pre.highlight code::-webkit-scrollbar {
  width: 10px; 
  height: 4px;
}
pre.highlight code::-webkit-scrollbar-track {
  background: $scroll-bg;
}
pre.highlight code::-webkit-scrollbar-thumb {
  background: $scroll;
}
pre.highlight code::-webkit-scrollbar-thumb:hover {
  background: $scroll-hover;
}


code {
  font-size: 20px;
}

/* Disqus */
#disqus_thread {
  background-color: $disqus-bg; 
}


/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.previous, .next {
  color: $pervous $next;
  background-color: $pagi-bg;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: 1px solid $pagi-border;
  cursor: pointer;
  border-radius: 2px;
}
.previous:hover, .next:hover {
  background-color: $pagi-hover;
  border-radius: 2px;
  text-shadow: none;
}
.previous.disabled, .next.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.page_number {
  margin: 0 1.5rem;
  font-size: 12px;
  color: $page-number;
}



/* projects.md */
.repositories {
  margin: 0 -15px;
}
@media (min-width: 768px) {
  .repo {
    max-width: 50%;
  }
}



/* FOOTER */
footer {
  padding: 100px;
  text-align: center;
  width: 100%;
}


//Categories
.archive__group-head {
  text-align: left;
  width: 30%;
  height: 30px;
  font-size: 18px;
}
.count_head{
  float: right;
}
#archives {
  width: 100%;
  margin: 0 auto;
}
.archive-group {
  margin: 20px 0;
}
.category-head {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 15px;
  color: $cat-title;
}
.archive-item {
  margin-bottom: 5px;
}
.archive-item a {
  font-size: 20px;
  font-weight: bold;
  color: $cat-text;
}
.archive-item a:hover {
  text-decoration: underline;
}
.archive-item .post-list__item-meta {
  font-size: 12px;
}

@media screen and (min-width: 360px) and (max-width: 980px) {
  .archive__group-head {
    text-align: left;
    width: 40%;
    height: 30px;
    font-size: 18px;
  }
  .archive-item .post-list__item-meta {
    color: $item-meta ;
    font-size: 12px;
  }    
}


//post image

@media screen and (min-width: 1525px) {
  .post-list__image{
    width: 210px;
    height: 140px;
    float: left;
    border: 1px solid $img-border;
    box-shadow:	0 0 4px	  $img-border,
                0 0 4px 	$img-border,
                0 0 15px	$img-border,
                0 0 7px   $img-border,
                inset 0 0 10px  $img-border;
  }
}

@media screen and (min-width: 1368px) and (max-width: 1525px) {
  .post-list__image{
    width: 25%;
    height: 140px;
    float: left;
    border: 1px solid $img-border;
    box-shadow:	0 0 4px	  $img-border,
                0 0 4px 	$img-border,
                0 0 15px	$img-border,
                0 0 7px   $img-border,
                inset 0 0 10px  $img-border;
  }
}

@media screen and (min-width: 980px) and (max-width: 1368px) {
  .post-list__image{
    width: 210px;
    height: 140px;
    float: left;
    border: 1px solid $img-border;
    box-shadow:	0 0 4px	  $img-border,
                0 0 4px 	$img-border,
                0 0 15px	$img-border,
                0 0 7px   $img-border,
                inset 0 0 10px  $img-border;
  }
}


// Social Sharing
.share-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077B5; /* LinkedIn blue */
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  margin-right: 10px;
}

.share-btn:hover {
  background-color: #005E8E; /* Darker shade of LinkedIn blue */
  color: #fff;
}

.tweet-btn {
  background-color: #1DA1F2; /* Twitter blue */
  color: #fff;
}

.tweet-btn:hover {
  background-color: #0C85D0; /* Darker shade of Twitter blue */
  color: #fff;
}
