@media screen and (min-width: 1000px) and (max-width: 1368px) {
    .site-header {
        display: none;
    }
    .container-default {
        display: none;
    }
  .overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.285);
    z-index: 1001;
  }
  
  .ul-base {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .clearfix {
    *zoom: 1;
  }
  .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }
  
  /* -----------------------------------------------------
     Header
  -------------------------------------------------------- */
  header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
  }
  header .header-inner {
    width: 100%;
    height: 64px;
    color: #fff;
    padding: 0 20px;
    background-color: #3f51b5;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  }
  header .nav-btn {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 12px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  header .nav-btn.nav-slider {
    float: left;
  }
  header .nav-btn.search {
    display: none;
  }
  header .nav-btn i {
    vertical-align: middle;
  }
  header .header-logo {
    display: inline-block;
    overflow: hidden;
    float: left;
    padding: 21px 38px 21px 5px;
  }
  header .header-logo img {
    display: block;
    max-height: 21px;
    vertical-align: middle;
  }
  header .header-categories {
    display: block;
    position: relative;
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.157);
  }
  header .header-search {
    float: left;
    display: block;
    position: relative;
    width: calc(100% - 620px);
    height: 64px;
    margin: 0 auto;
    padding: 10px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.157);
    border-right: 1px solid rgba(255, 255, 255, 0.157);
  }
  header .header-search .search {
    display: block;
    position: relative;
    width: calc(100% - 35px);
    margin: 0 auto;
  }
  header .header-search .search i {
    position: absolute;
    top: 8px;
    left: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    cursor: pointer;
  }
  header .header-search .search input[type=search] {
    width: 100%;
    height: 44px;
    padding: 0 15px 0 50px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  header .header-search .search ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  header .header-search .search ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  header .header-search .search :-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  header .header-search .search :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  header .header-menu {
    float: right;
  }
  header .header-menu ul {
    height: 64px;
  }
  header .header-menu ul li {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 0 0 0 12px;
    line-height: 64px;
  }
  header .header-menu ul li a {
    color: #fff;
    font-size: 17px;
    padding: 4px;
  }
  header .header-menu ul li a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  @media only screen and (max-width: 1024px) {
    header .header-categories {
      display: none;
    }
    header .header-search {
      width: calc(100% - 440px);
    }
  }
  @media only screen and (max-width: 860px) {
    header .header-search {
      display: none;
    }
    header .header-menu ul li:last-child {
      display: none;
    }
  }
  @media only screen and (max-width: 480px) {
    header .header-inner {
      padding: 0 12px;
      text-align: center;
    }
    header .nav-btn {
      background-color: rgba(0, 0, 0, 0.175);
    }
    header .header-logo {
      float: right;
      padding-left: 0px;
      padding-right: 0px;
    }
    header .header-menu {
      display: none;
    }
  }
  
  /* -----------------------------------------------------
     Nav
  -------------------------------------------------------- */
  nav {
    overflow-y: auto;
    position: fixed;
    top: 0px;
    width: 250px;
    height: 100%;
    color: #fff;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    opacity: 0.9;
    z-index: 1002;
  }
  nav .nav-header {
    display: block;
    background-color: #3f51b5;
  }
  nav .nav-header .logo-wrap {
    padding: 1.7em 1em;
  }
  nav .nav-header .logo-wrap .logo-icon {
    display: inline-block;
    text-decoration: none;
  }
  nav .nav-header .logo-wrap .logo-icon img {
    display: block;
    border-radius: 50%;
  }
  nav .nav-header .logo-wrap .logo-text {
    display: inline-block;
    color: #fff;
    font-size: 1.2em;
    vertical-align: 12px;
    margin-left: 8px;
    text-decoration: none;
  }
  nav .nav-header .nav-search {
    position: relative;
    height: 40px;
  }
  nav .nav-header .nav-search .search {
    display: block;
    position: relative;
  }
  nav .nav-header .nav-search .search i {
    position: absolute;
    top: 8px;
    right: 0.7em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    cursor: pointer;
  }
  nav .nav-header .nav-search .search input[type=search] {
    width: 100%;
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    padding: 0 48px 0 20px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
  nav .nav-header .nav-search .search ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  nav .nav-header .nav-search .search ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  nav .nav-header .nav-search .search :-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  nav .nav-header .nav-search .search :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  nav .nav-categories li {
    display: block;
    position: relative;
  }
  nav .nav-categories li a {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #5c5c5c;
    padding: 0.625em 1.3em;
    text-decoration: none;
  }
  nav .nav-categories li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  nav.open {
    left: 0px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
    opacity: 1;
  }
  nav .nav-separator {
    width: 100%;
    height: 1px;
    margin: 7px 0;
    background-color: rgba(0, 0, 0, 0.175);
  }
  nav .nav-link-title {
    display: block;
    color: #3f51b5;
    font-size: 1rem;
    padding: 0.5em 1.3em;
  }
  nav .social {
    display: flex;
    margin: 4px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.155);
    border-bottom: 1px solid rgba(0, 0, 0, 0.155);
  }
  nav .social li {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 28px;
    flex-direction: row;
    border-right: 1px solid rgba(0, 0, 0, 0.175);
  }
  nav .social li:last-child {
    border-right: 0;
  }
  nav .social li a {
    display: block;
    color: #5c5c5c;
    font-size: 15px;
    padding: 2px;
    text-decoration: none;
  }
  nav .social li a.twitter:hover {
    color: #00baf0;
  }
  nav .social li a.facebook:hover {
    color: #3b5997;
  }
  nav .social li a.google-plus:hover {
    color: #c43c2c;
  }
  nav .social li a.rss:hover {
    color: #ff6600;
  }
  nav .copyright {
    display: block;
    color: #5c5c5c;
    text-align: center;
    padding: 0.5em 0 1em;
  }
  nav .copyright span {
    display: block;
    width: 100%;
    font-size: 11px;
    margin-bottom: 4px;
  }
}