@media screen and (min-width: 980px) and (max-width: 1368px) {
    .author-card{
        width: 98%;
        height: 100%;
        margin-left: 10px;;
        padding: 20px;
        padding-top: 50px;
    }
    .author__avatar {
        width: 11%;
        height: 100%;
        padding-top: 2px;
        float: left;
    }
    .author__avatar img {
        width: 100%;
        height: 100%;
        border: 1px solid $author-border;
        box-shadow:	0 0 5px	  $author-border;
        border-radius: 2px;
    }

    .author__content {
        width: 85%;
        float: right;
        height: 80px;
    }

    .author__content-head {
        display: none;
    }

    .author__urls-wrapper {
        height: 40px;
        width: 100%;
    }

    .author__name {
        font-size: 20px;
    }
    .author__bio {
        width: 100%;
    }

    .author__urls-wrapper .btn {
        margin-right: 1rem;
    }
    .author__urls {
        display: flex;
        flex-direction: row;
        align-items: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .author__urls li:not(:last-child) {
        margin-right: 1rem;
    }
    .author__urls a {
        display: flex;
        align-items: left;
        text-decoration: none;
        color: $author-url;
    }
    .author__urls a:hover {
        color: $author-url;
        text-shadow: -9px -6px 20px currentcolor;
    }
    .author__urls .label {
        font-size: 18px;
        margin-left: 0.5rem;
    }
    .author__urls i {
        font-size: 20px;
        margin-right: 0.5rem;
    }
}