@media screen and (min-width: 980px) and (max-width: 1368px) {
    .archive__group-head {
        text-align: left;
        width: 30%;
        height: 30px;
        font-size: 18px;
    }
    .count_head{
        float: right;
    }
    #archives {
        width: 100%;
        margin: 0 auto;
    }
    .archive-group {
        margin: 20px 0;
    }
    .category-head {
        font-weight: bolder;
        font-size: 24px;
        margin-bottom: 15px;
        color: $cat-title;
    }
    .archive-item {
        margin-bottom: 5px;
    }
    .archive-item a {
        font-size: 20px;
        font-weight: bold;
        color: $cat-text;
    }
    .archive-item a:hover {
        text-decoration: underline;
    }
    .archive-item .post-list__item-meta {
        font-size: 12px;
    }    
}