/* CV */
@media screen and (min-width: 1368px) {
  .post-header {
    text-align: center;
  }
  .post-title {
    font-size: 2.5rem;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  .pdf__link {
    float: left;
    padding-right: 100px;
  }
  .fa-file-pdf {
    font-size: 2rem;
  }
  .post-description {
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  .cv {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .card {
    background-color: $card-bg;
    border-radius: 2px;
    border: 2px solid $card-border;
    padding: 2rem; 
    width: 100%;
    max-width: 90%;
  }
  .card-title {
    color: $card-title;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
  }
  .table td,
  .table th {
    padding: 0;
  }
  .table th {
    text-align: inherit;
  }
  .map__name {
    color: $text-name;
    font-weight: bold;
  }
  .map__value{
    color: $text-value;
  }
  .cv .time_table {
    margin-bottom: 2rem;
  }
  .cv .card h3 {
    font-weight: bold;
  }
  .cv .card__content .list-group-item h6.title {
    margin-bottom: 0;
  }
  .cv .card-text .list-group-item {
    background-color: transparent;
  }
  .cv .card__content .list-group-item .time__content {
    width: 500px;
  }
  .cv .card__content .list-group-item .time__content .title {
    margin-top: 0.25rem;
    margin-left: 2rem;
    font-weight: bold;
    color: $content-title;
    width: 400px;
  }
  .cv .card__content .list-group-item .time__content h6 {
    margin-top: 0.25rem;
    margin-left: 2rem;
    color: $content-text;
  }
  .cv .card__content .list-group-item .time__content ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 80px;
    line-height: 0;
  }
  .cv .card__content .list-group-item .time__content .item {
    font-size: 16px;
    margin-top: 0.5rem;
  }
  .cv .card__content .list-group-item .item-title {
    font-weight: bold;

  }
  .cv .card__content .list-group-item .subitem {
    margin-top: 0.25rem;
    display: block;
    margin-left: 1.5rem;
  }
  .cv .card__content .list-group-item h5 {
    margin-bottom: 0;
    font-weight: bold;
    color: $content-title;
    
  }
  .cv .card__content .list-group-item .subitems {
    padding-bottom: 30px;
    margin-left: 100px;
  }
  .cv .card__content .list-group-item .subitem {
    margin-top: 0;
    margin-bottom: -20px;
    display: block;
    font-size: 16px;
    padding-right: 0px;
    margin-left: 0px;
    
  }
  .cv .card__content .list-group-item .badge {
    color: $badge;
    border: 1px solid $badge-border;
    background-color: $badge-bg;
    border-radius: 1px;
    width: 100px;
  }
}