---
layout: default
---
<!-- _layouts/cv.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank"  class="pdf__link"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    <div class="cv">
      {% for entry in site.data.cv %}
        <div class="card">
          <h3 class="card-title">{{ entry.title }}</h3>
          <div>

            <!-- Map  -->
            {% if entry.type == "map" %}
              <table class="table table-borderless">
                {% for content in entry.contents %}
                  <tr class="map__content">
                    <td class="map__name"><b>{{ content.name }}</b></td>
                    <td class="map__value">{{ content.value }}</td>
                  </tr>
                {% endfor %}
              </table>

            <!-- Time Table -->
            {% elsif entry.type == "time_table" %}
              <div class="card__content">
                <ul class="card-text list-group list-group-flush">
                  {% for content in entry.contents %}
                    <li class="list-group-item">
                      <div class="row">
                        {% if content.year %}
                          <div>
                            <span class="badge">
                              {{ content.year }}
                            </span>
                          </div>
                        {% endif %}
                        <div class="time__content">
                          {% if content.title %}
                            <h6 class="title">{{content.title}}</h6>
                          {% endif %}
                          {% if content.institution %}
                            <h6>{{content.institution}}</h6>
                          {% endif %}
                          {% if content.description %}
                            <ul class="items">
                              {% for item in content.description %}
                                <li>
                                  {% if item.contents %}
                                    <span class="item-title">{{ item.title }}</span>
                                    <ul class="subitems">
                                      {% for subitem in item.contents %}
                                        <li><span class="subitem">{{ subitem }}</span></li>
                                      {% endfor %}
                                    </ul>
                                  {% else %}
                                    <span class="item">{{ item }}</span>
                                  {% endif %}
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                          {% if content.items %}
                            <ul class="items">
                              {% for item in content.items %}
                                <li>
                                  {% if item.contents %}
                                    <span class="item-title">{{ item.title }}</span>
                                    <ul class="subitems">
                                      {% for subitem in item.contents %}
                                        <li><span class="subitem">{{ subitem }}</span></li>
                                      {% endfor %}
                                    </ul>
                                  {% else %}
                                    <span class="item">{{ item }}</span>
                                  {% endif %}
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>

            <!-- Nested List -->
            {% elsif entry.type == "nested_list" %}
              <div class="card__content">
                <ul class="card-text list-group list-group-flush">
                  {% for content in entry.contents %}
                    <li class="list-group-item">
                    <h5>{{ content.title }}</h5>
                      {% if content.items %}
                        <ul class="subitems">
                          {% for subitem in content.items %}
                            <li><span class="subitem">{{ subitem }}</span></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% else %}
              {{ entry.contents }}
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </article>
</div>
