<!DOCTYPE html>
<html  lang="en">
  <head>
    {% include head.html %}
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    
    <div class="container-default">
      <div class="content-container">
        <main class="default">
          {{ content }}
        </main>
      </div>
      <div class="author-container">
        {% include author.html %}
      </div>
    </div>

    <div class="container-medium">
      <div class="author-container">
        {% include author.html %}
      </div>
      <div class="content-container">
        <main class="default">
          {{ content }}
        </main>
      </div>
    </div>




    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-circle-up fa-2x"></i></button>
    {% include footer.html %}

    <!-- script -->
    <script src="{{ '/assets/js/nav.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/clip.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/scroll-top.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
    {% include article.json %}
  </body>
</html>
