<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
  </head>
  <body>
    {% include header.html %}
    <div class="container-default">
      <div class="author-container">
        {% include author.html %}
      </div>
      <div class="content-container">
        <main class="default">
          {{ content }}
        </main>
      </div>
    </div>
    
    
    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="{{ 'assets/js/clip.js' | relative_url }}"></script>
  </body>
</html>
